.center{
  text-align: center;
}

.indent{
  text-indent: 2em;
  /* indents all paragraphs */
}
.a p{
  font-style: italic;
}

ul{
  list-style-type: none;
}
/* removes bullets from my lists */

.img-size{
  max-width: 80%;
}

.frisbee-move{
  margin-left: 12em;
}

.emphasis{
  color: red;
  text-decoration: underline;
}

.frisbee-text{
  font-family: cursive;
}

.title-background-border{
  background-color: #ADD8E6;
  border: #67a1b4 solid 1px
}
