.center{
  text-align: center;
}

p{
  text-indent: 2em;
  /* indents all paragraphs */
}
.a p{
  font-style: italic;
}

ul{
  list-style-type: none;
}
/* removes bullets from my lists */

.img-size{
  max-width: 70%;
}

.frisbee-move{
  margin-left: 10em
}
